body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

#quiz-container, #score-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

.option {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover, .option.selected {
    background-color: #e0e0e0;
}

#next-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

#next-button:hover {
    background-color: #45a049;
}